html{
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow-y: hidden;
  -webkit-animation-name: add-overflow;
          animation-name: add-overflow;
  -webkit-animation-duration: 0.1s;
          animation-duration: 0.1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-delay: 4s;
          animation-delay: 4s
}

@-webkit-keyframes add-overflow{
  0% {overflow-y: hidden;}
  100% {overflow-y: scroll;}
}

@keyframes add-overflow{
  0% {overflow-y: hidden;}
  100% {overflow-y: scroll;}
}

body{
  background-color: #FFFFFF;
  font-family: 'Roboto';
  color: #000000;
  overflow-x: hidden;
  overflow-y: auto;
  margin: 0 !important;
  padding: 0 !important;


}

.side-nav{
  position: fixed;
  left: 95%;
    top: 40%;
  text-align: right;
}

.bullet{
  height: 10px;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  -webkit-box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2), 0 3px 5px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2), 0 3px 5px 0 rgba(0, 0, 0, 0.19);

}

.side-nav ul{
  list-style: none;
  -webkit-animation-name: hide-bullet;
          animation-name: hide-bullet;
  opacity: 0;
  -webkit-animation-delay: 5.5s;
          animation-delay: 5.5s;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
}

@-webkit-keyframes hide-bullet{
  0% {opacity: 0;}
  100% {opacity: 1;}
}

@keyframes hide-bullet{
  0% {opacity: 0;}
  100% {opacity: 1;}
}

.side-nav ul li{
  border: none;
  padding-bottom: 10px;
}



.side-nav ul li:hover{
  -webkit-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);

}

.tool-tip{
  visibility: hidden;
    width: 80px;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    font-size: 8pt;

    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    top: -5px;
    right: 150%;
    margin-left: -60px;

    /* Fade in tooltip */
    opacity: 0;
    -webkit-transition: opacity 1s;
    -o-transition: opacity 1s;
    transition: opacity 1s;
}

/* Tooltip arrow */
.tool-tip::after {
    content: " ";
    position: absolute;
    top: 34%;
    left: 104%;
    margin-left: -4px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
    -webkit-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
            transform: rotate(-90deg);
}

/* Show the tooltip text when you mouse over the tooltip container */
.side-nav li:hover .tool-tip {
    visibility: visible;
    opacity: 1;
}


.back{
  min-height: 350px;
  background-attachment: scroll;
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  border-bottom: solid;
  border-bottom-color: #288edf;
  padding-top: 40px;
}


a{
  text-decoration: none;
  color: #000000;
}





ul{
  margin: 0;
  padding: 0;
}

.red{
  color: #288edf;
}

.black{
    color: #000000;
}

header{
  border-bottom: none;
  border-color: #288edf;
  margin-top: -10px;
  min-height: 70px;
  width: 100%;
  position: fixed;
  background-color: #FFFFFF;
  -webkit-box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 5px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 5px 0 rgba(0, 0, 0, 0.19);
  z-index: 10;
  visibility: hidden;
  opacity: 0;
  -webkit-animation-name: head;
          animation-name: head;
  -webkit-animation-delay: 3.5s;
          animation-delay: 3.5s;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
}

@-webkit-keyframes head {
  0% {visibility: visible; opacity: 0;}
  100% {visibility: visible; opacity: 1;}

}

@keyframes head {
  0% {visibility: visible; opacity: 0;}
  100% {visibility: visible; opacity: 1;}

}

.top-icons{
    border: none;
    width: 20%;
    margin-left: 85%;
    margin-top: 25px;
}

.top-icon{
    height: 30px;
    padding: 0 5px 0 5px;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
        
}

.top-icon:hover{
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
}

header h1{
  padding: 2% 0 2% 0;
  margin: 0;
  font-size: 35pt;
}

header li{
  list-style: none;
  display: inline;
  padding: 0 20px 0 20px;
  float: left;
}

header .title{
  float: left;
  padding: 0;

}

section{
  min-height: 200px;
  opacity: 0;
}

nav{
  float: right;
  margin-top: 25px;
  z-index: 10;
}

.overlay { 
    height: 0;
    width: 100%;
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(40,142,223, 0.9); 
    overflow-x: hidden; 
    transition: 0.5s; 
}


.overlay-content {
    position: relative;
    top: 25%; 
    width: 100%; 
    text-align: center; 
    margin-top: 30px;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #ffffff;
    display: block;
    transition: 0.3s; 
}

.overlay a:hover, .overlay a:focus {
    color: #deeff8;
    transform: scale(1.1);
}

.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

#mobile-nav-icon{
    height: 40px;
    display: none;
}

.container{
  width: 80%;
  margin: auto;
  padding-top: 20px;
}

.heading{
  color: #000000;

}

section {
  padding-top: 10px;
  border: none;
  background-color: #f0f2f3;
  border-bottom: none;
  border-color: #288edf;

}

section .container{
  border: none;
  padding: 30px 0 50px 0;
  opacity: 1;
    text-align: center;
}

section .container h2{
  text-align: center;
  font-size: 20pt;
  opacity: 1;
  color: #288edf;
}

#landing{
  height: 800px;
  background-color: #FFFFFF;
  opacity: 1;
  text-align: center;
  -webkit-animation-name: fold;
          animation-name: fold;
  -webkit-animation-delay: 3.5s;
          animation-delay: 3.5s;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

#animate{
  height: 100px;
  width: 100px;
  border: none;
  background-color: #288edf;
  margin-left: 44%;
  margin-top: 15%;
  -webkit-animation-name: landing;
          animation-name: landing;
  -webkit-animation-duration: 3.5s;
          animation-duration: 3.5s;
  text-align: center;
  opacity: 0;
}

#animate h1{
    padding: 25% 0 25% 0;
    font-size: 35pt;
    -webkit-animation: landing-text;
            animation: landing-text;
    color: #ffffff;
}


@-webkit-keyframes landing text;


@keyframes landing text;


@-webkit-keyframes fold {
  0% {min-height: auto;}
  100% {min-height: 0px;
        height: 0px;}
}


@keyframes fold {
  0% {min-height: auto;}
  100% {min-height: 0px;
        height: 0px;}
}


@-webkit-keyframes landing {
    0% {-webkit-transform: rotate(0deg);transform: rotate(0deg); opacity: 0; padding: 0 0 0 0;}
    50% {-webkit-transform: rotate(720deg);transform: rotate(720deg); opacity: 1; padding: 0 0 0 0;}
    70% {padding: 0 300px 0 300px; -webkit-transform: translate(-300px, 0px); transform: translate(-300px, 0px); opacity: 1; background-image: none;}
    90% {padding: 0 300px 0 300px; -webkit-transform: translate(-300px, 0px); transform: translate(-300px, 0px);  opacity: 1; background-image: none;}
    100% {padding: 0 300px 0 300px; -webkit-transform: translate(-300px, 0px); transform: translate(-300px, 0px);  opacity: 0;}
}


@keyframes landing {
    0% {-webkit-transform: rotate(0deg);transform: rotate(0deg); opacity: 0; padding: 0 0 0 0;}
    50% {-webkit-transform: rotate(720deg);transform: rotate(720deg); opacity: 1; padding: 0 0 0 0;}
    70% {padding: 0 300px 0 300px; -webkit-transform: translate(-300px, 0px); transform: translate(-300px, 0px); opacity: 1; background-image: none;}
    90% {padding: 0 300px 0 300px; -webkit-transform: translate(-300px, 0px); transform: translate(-300px, 0px);  opacity: 1; background-image: none;}
    100% {padding: 0 300px 0 300px; -webkit-transform: translate(-300px, 0px); transform: translate(-300px, 0px);  opacity: 0;}
}

#buffer{
  min-height: 60px;

}

#profile{
  background-color: #deeff8;
  background-position: #f0f2f3;
  background-position: top;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 0;
  opacity: 1;

}

.text{
    border-left: solid;
    border-right: solid;
    border-color: #288edf;
    width: 80%;
    margin-left: 7.5%;
    padding: 0 20px 0 20px;
}

#edu{
  background-color: #f0f2f3;
    opacity: 1;
}


#skills{
  z-index: 0;
  background-color: #deeff8;
}

.exp{
    width: 100%;
    border: none;
    display: inline-block;
}

#experience{
    background-color: #f0f2f3;
}


#portfolio{
    background-color: #deeff8;
}

#contact{
  background-color: #f0f2f3;
}

#skills .container{
  text-align: center;


}

.chart-contain{
  border: none;
  width: 45%;
  display: inline-table;
  height: 200px;
  padding: 0 10px 30px 10px;
}

.chart{
    height: 100%;
}

section .heading{
  text-align: left;
}

#contact .container{
  text-align: center;

}

.schools{
  text-align: center;
}

.school{
  text-align: center;
  display: inline-table;
  padding-right: 10%;
  padding-left: 10%;
  padding-bottom: 20px;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.school:hover{
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
    
}

.school-img{
  height: 80px;
  padding-right: 20px;
}

.gallery{
    width: 100%;
    border: none;
}

.gallery-image{
    width: 25%;
    display: inline;
    margin: 0 20px 0 20px;
    -webkit-box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2), 0 3px 5px 0 rgba(0, 0, 0, 0.19);
            box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2), 0 3px 5px 0 rgba(0, 0, 0, 0.19);
    -webkit-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.gallery-image:hover{
    -webkit-transform: scale(1.05);
        -ms-transform: scale(1.05);
            transform: scale(1.05)
}


.contact-method{
  border: none;
  width: 200px;
  display: inline-table;
  padding-bottom: 2%;
  height: 150px;
}

.contact-image{
  height: 65px;
  width: 65px;
  -webkit-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
  -webkit-box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2), 0 3px 5px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2), 0 3px 5px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 10px;
  
}


.contact-image:hover{
  -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
          transform: scale(1.2);
}

h3{
    color: #288edf;
    font-size: 15pt;
}

.download{
    overflow: hidden;
}

#dl{
    height: 20px;
    padding-left: 5px;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    -webkit-animation-name: none;
            animation-name: none;
    -webkit-animation-duration: 2s;
            animation-duration: 2s;
    -webkit-animation-timing-function: ease;
            animation-timing-function: ease;
}

@-webkit-keyframes dl{
    0% {-webkit-transform: translateY(0px);transform: translateY(0px);}
    50% {-webkit-transform: translateY(10px);transform: translateY(10px);}
    100% {-webkit-transform: translateY(0px);transform: translateY(0px);}
}

@keyframes dl{
    0% {-webkit-transform: translateY(0px);transform: translateY(0px);}
    50% {-webkit-transform: translateY(10px);transform: translateY(10px);}
    100% {-webkit-transform: translateY(0px);transform: translateY(0px);}
}


form{
    -webkit-transition: all 2s ease;
    -o-transition: all 2s ease;
    transition: all 2s ease;
    opacity: 1;
}

form label{
    font-size: 13pt;
    
}

form input, form textarea{
    width: 50%;
    font-size: 12pt;
    font-family: 'Roboto', sans-serif;
    border: solid;
    border-color: aliceblue;
    -webkit-transition-timing-function: ease;
         -o-transition-timing-function: ease;
            transition-timing-function: ease;
    -webkit-transition-duration: 0.4s;
         -o-transition-duration: 0.4s;
            transition-duration: 0.4s;
    -webkit-transition-property: border-color;
    -o-transition-property: border-color;
    transition-property: border-color;
    padding: 1% 1% 1% 1%;
    outline: none;
    margin-bottom: 5px;

    
}

form input:hover, form textarea:hover{
    border-color: #288edf;
    
}



form input:focus, form textarea:focus{
    border-color: #288edf;
}



button{
    background-color: #288edf;
    color: #FFFFFF;
    padding: 2% 2% 2% 2%;
    width: 53%;
    border: none;
    -webkit-box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 5px 0 rgba(0, 0, 0, 0.19);
            box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 5px 0 rgba(0, 0, 0, 0.19);
    margin-top: 10px;
    cursor: pointer;
    overflow: hidden;
    -webkit-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

button:hover{
    -webkit-transform: scale(1.04);
        -ms-transform: scale(1.04);
            transform: scale(1.04);
}

#thankyou_message{
    -webkit-animation: all 1s ease;
            animation: all 1s ease;
}


#plane{
    -webkit-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}

.move{
    -webkit-transform: translate(100px, -100px);
        -ms-transform: translate(100px, -100px);
            transform: translate(100px, -100px);
}



footer .container{
  text-align: center;
  width: 100%;
  padding: 0 20px 0 20px;
}

footer .bottom-icons{
    margin: 20px;
    display: none;
}

footer p{
  padding: 20px 0 20px 0;
  font-size: 10px;
    
}

@media (max-width: 1003px){
    header .title,
    header nav,
    header nav li,
    section .heading{
        float: none;
        text-align: center;
        width: 100%;
    }
    
    #animate{
        margin-left: 40%;
        margin-top: 10%;
    }
        
    .top-icons, nav {
        display: none;
    }
    
    header{
        position: relative;
    }
    
    #landing, #buffer{
        min-height: 0px;
    }
    
    section .container{
        margin: 0;
        width: 100%;
    }
    
    section .text{
        width: 90%;
        margin: 0;
    
    }
    
    button{
        width: 90%;
        padding: 20px 20px 20px 20px;
    }
    
    form input{
        width: 88%;
        padding: 10px;
    }
    
    form textarea{
        width: 88%;
        padding: 10px;
    }
    
    .gallery-image{
        display: block;
        margin: 10px;
        width: 70%;
        margin-left: 15%
    }
    
    .contact-image{
        height: 90px;
        width: 90px;
    }
    
    .contacts{
        margin: 0;
        padding: 0;
    }
    
    .contact-method{
        display: block;
        margin: 0 30%;
    }
    
    footer .bottom-icons{
        display: block;
    }
    
    footer p{
        padding: 0 0 20px 0;
    }
    
    .overlay a {font-size: 20px}
    .overlay .closebtn {
        font-size: 50px;
        top: 5%;
        left: 85%;
    }
    
    #mobile-nav-icon{
        display: block;
        position: fixed;
        z-index: 10;
        margin-left: 85%;
        top: 8%;
        opacity: 0.5;
        cursor: pointer;
        transition: all ease 0.4s;
        
    }
}