html{
  box-sizing: border-box;
  overflow-y: hidden;
  animation-name: add-overflow;
  animation-duration: 0.1s;
  animation-fill-mode: forwards;
  animation-timing-function: ease;
  animation-delay: 5s
}

@keyframes add-overflow{
  0% {overflow-y: hidden;}
  100% {overflow-y: scroll;}
}

body{
  background-color: #FFFFFF;
  font-family: 'Roboto';
  color: #000000;
  overflow-x: hidden;
  overflow-y: auto;
  margin: 0 !important;
  padding: 0 !important;


}

.side-nav{
  position: fixed;
  left: 95%;
    top: 40%;
  text-align: right;
}

.bullet{
  height: 10px;
  transition: all 0.2s ease;
  filter: grayscale(100%);
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2), 0 3px 5px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
}

.side-nav ul{
  list-style: none;
  animation-name: hide-bullet;
  opacity: 0;
  animation-delay: 7s;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-timing-function: ease;
}

@keyframes hide-bullet{
  0% {opacity: 0;}
  100% {opacity: 1;}
}

.side-nav ul li{
  border: none;
  padding-bottom: 10px;
}



.side-nav ul li:hover{
  transition: all .2s ease;
  transform: scale(1.1);

}

.tool-tip{
  visibility: hidden;
    width: 80px;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    font-size: 8pt;

    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    top: -5px;
    right: 150%;
    margin-left: -60px;

    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 1s;
}

/* Tooltip arrow */
.tool-tip::after {
    content: " ";
    position: absolute;
    top: 34%;
    left: 104%;
    margin-left: -4px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
    transform: rotate(-90deg);
}

/* Show the tooltip text when you mouse over the tooltip container */
.side-nav li:hover .tool-tip {
    visibility: visible;
    opacity: 1;
}


.back{
  min-height: 350px;
  background-attachment: scroll;
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  border-bottom: solid;
  border-bottom-color: #288edf;
  padding-top: 40px;
}


a{
  text-decoration: none;
  color: #000000;
}





ul{
  margin: 0;
  padding: 0;
}

.red{
  color: #288edf;
}

.black{
    color: #000000;
}

header{
  border-bottom: none;
  border-color: #288edf;
  margin-top: -10px;
  min-height: 70px;
  width: 100%;
  position: fixed;
  background-color: #FFFFFF;
  box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 5px 0 rgba(0, 0, 0, 0.19);
  z-index: 10;
  visibility: hidden;
  opacity: 0;
  animation-name: head;
  animation-delay: 5s;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  animation-timing-function: ease;
}

@keyframes head {
  0% {visibility: visible; opacity: 0;}
  100% {visibility: visible; opacity: 1;}

}

header h1{
  padding: 2% 0 2% 0;
  margin: 0;
  font-size: 30pt;
}

header li{
  list-style: none;
  display: inline;
  padding: 0 20px 0 20px;
  float: left;
}

header .title{
  float: left;
  padding: 0;

}

section{
  min-height: 200px;
  opacity: 0;
}

nav{
  float: right;
  margin-top: 25px;
  z-index: 10;
}

.container{
  width: 80%;
  margin: auto;
  padding-top: 20px;
}

.heading{
  color: #000000;

}


section {
  padding-top: 10px;
  border: none;
  background-color: #f0f2f3;
  border-bottom: none;
  border-color: #288edf;

}


section .container{
  border: none;
  padding: 30px 0 50px 0;
  opacity: 1;
    text-align: center;
}

section .container h2{
  text-align: center;
  font-size: 20pt;
  opacity: 1;
  color: #288edf;
}

#landing{
  height: 800px;
  background-color: #FFFFFF;
  opacity: 1;
  text-align: center;
  animation-name: fold;
  animation-delay: 5s;
  animation-duration: 1.5s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}

#animate{
  height: 100px;
  width: 100px;
  border: none;
  background-color: #288edf;
  margin-left: 45%;
  margin-top: 15%;
  animation-name: landing;
  animation-duration: 5s;
  opacity: 0;
}


@keyframes fold {
  0% {min-height: auto;}
  100% {min-height: 0px;
        height: 0px;}
}

@keyframes landing {
    0% {transform: rotate(0deg); opacity: 0;}
    50% {transform: rotate(720deg); opacity: 1;}
    70% {transform: scaleX(6); opacity: 1; background-image: none;}
    90% {transform: scaleX(6); opacity: 1; background-image: none;}
    100% {transform: scaleX(6); opacity: 0;}
}

#buffer{
  min-height: 60px;

}

#profile{
  background-color: #deeff8;
  background-position: #f0f2f3;
  background-position: top;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 0;
  opacity: 1;

}

.text{
    border-left: solid;
    border-right: solid;
    border-color: #288edf;
    width: 80%;
    margin-left: 7.5%;
    padding: 0 20px 0 20px;
}

#edu{
  background-color: #f0f2f3;
}


#skills{
  z-index: 0;
  background-color: #deeff8;
}

.exp{
    width: 100%;
    border: none;
    display: inline-block;
}

#experience{
    background-color: #f0f2f3;
}

#nl-logo{
    width: 20%;
    padding-bottom: 15px;
}

#work{
    background-color: #deeff8;
}

#contact{
  background-color: #f0f2f3;
}

#skills .container{
  text-align: center;


}

.chart-contain{
  border: none;
  width: 45%;
  display: inline-table;
  height: 100px;
  padding: 0 10px 30px 10px;
}

section .heading{
  text-align: left;
}

#contact .container{
  text-align: center;

}

.schools{
  text-align: center;
}

.school{
  text-align: center;
  display: inline-table;
  padding-right: 10%;
  padding-left: 10%;
  padding-bottom: 20px;
    transition: all 0.3s ease;
}

.school:hover{
    transform: scale(1.1);
    
}

.school-img{
  height: 80px;
  padding-right: 20px;
}

.gallery{
    width: 100%;
    border: none;
}

.gallery-image{
    width: 25%;
    display: inline;
    margin: 0 20px 0 20px;
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2), 0 3px 5px 0 rgba(0, 0, 0, 0.19);
    transition: all 0.2s ease;
}

.gallery-image:hover{
    transform: scale(1.05)
}


.contact-method{
  border: none;
  width: 200px;
  display: inline-table;
  padding-bottom: 2%;
  height: 150px;
}

.contact-image{
  height: 65px;
  width: 65px;
  transition: all .2s ease;
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2), 0 3px 5px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 10px;
  
}


.contact-image:hover{
  transform: scale(1.2);
}

h3{
    color: #288edf;
    font-size: 15pt;
}

.download{
    overflow: hidden;
}

#dl{
    height: 20px;
    padding-left: 5px;
    transition: all 0.5s ease;
}


form{
    transition: all 2s ease;
    opacity: 1;
}

form label{
    font-size: 13pt;
    
}

form input, form textarea{
    width: 50%;
    font-size: 12pt;
    font-family: 'Roboto', sans-serif;
    border: solid;
    border-color: aliceblue;
    transition-timing-function: ease;
    transition-duration: 0.4s;
    transition-property: border-color;
    padding: 1% 1% 1% 1%;
    outline: none;
    margin-bottom: 5px;

    
}

form input:hover, form textarea:hover{
    border-color: #288edf;
    
}



form input:focus, form textarea:focus{
    border-color: #288edf;
}



button{
    background-color: #288edf;
    color: #FFFFFF;
    padding: 2% 2% 2% 2%;
    width: 53%;
    border: none;
    box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 5px 0 rgba(0, 0, 0, 0.19);
    margin-top: 10px;
    cursor: pointer;
    overflow: hidden;
    transition: all 0.2s ease;
}

button:hover{
    transform: scale(1.04);
}

#thankyou_message{
    animation: all 1s ease;
}


#plane{
    transition: all 1s ease;
}

.move{
    transform: translate(100px, -100px);
}

footer .container{
  text-align: center;
  width: 100%;
  padding: 0 20px 0 20px;
}



footer p{
  padding: 20px 0 20px 0;
  font-size: 10px;
}

@media (max-width: 1003px){
  header .title,
  header nav,
  header nav li,
  section .heading{
    float: none;
    text-align: center;
    width: 100%;
  }
  
    
    nav{
        display: none;
    }

  header{
    padding-bottom: 10px;
  }

  body{
    font-size: 20pt;
  }

  section h2{
    font-size: 40pt;
  }

  section{
    width: 115%;
  }


  .contact-method{
    display: block;
    border: none;
    width: 100%;
    padding: 0;
  }

  .contacts{
    padding: 0;
  }



  .back{
    min-height: 400px;
    background-attachment: fixed;
    background-position: top;
    background-size: contain;
    background-repeat: no-repeat;
    border-bottom: solid;
    border-bottom-color: #288edf;

  }
}
