html{
  box-sizing: border-box;
}

body{
  background-color: #FFFFFF;
  font-family: 'Roboto';
  color: #000000;
  overflow-x: hidden;
  overflow-y: auto;
  margin: 0 !important;
  padding: 0 !important;


}

.side-nav{
  position: fixed;
  padding-left: 95%;
  padding-top: 25%;
  text-align: right;
}

.bullet{
  height: 10px;
  transition: all 0.2s ease;
  filter: grayscale(100%);
}

.side-nav ul{
  list-style: none;
}

.side-nav ul li{
  border: none;
  padding-bottom: 10px;
}

.side-nav ul li:hover{
  transition: all .2s ease;
  transform: scale(1.1);

}

.tool-tip{
  visibility: hidden;
    width: 80px;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    font-size: 8pt;

    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    top: -5px;
    right: 150%;
    margin-left: -60px;

    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 1s;
}

/* Tooltip arrow */
.tool-tip::after {
    content: " ";
    position: absolute;
    top: 34%;
    left: 104%;
    margin-left: -4px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
    transform: rotate(-90deg);
}

/* Show the tooltip text when you mouse over the tooltip container */
.side-nav li:hover .tool-tip {
    visibility: visible;
    opacity: 1;
}


.back{
  min-height: 350px;
  background-attachment: scroll;
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  border-bottom: solid;
  border-bottom-color: #288edf;
  padding-top: 40px;
}


a{
  text-decoration: none;
  color: #000000;
}





ul{
  margin: 0;
  padding: 0;
}

.red{
  color: #288edf;
}

header{
  border-bottom: none;
  border-color: #288edf;
  margin-top: -10px;
  min-height: 70px;
  width: 100%;
  position: fixed;
  background-color: #FFFFFF;
  box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 5px 0 rgba(0, 0, 0, 0.19);
  z-index: 10;
  visibility: hidden;
  opacity: 0;
  animation-name: head;
  animation-delay: 5s;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  animation-timing-function: ease;
}

@keyframes head {
  0% {visibility: visible; opacity: 0;}
  100% {visibility: visible; opacity: 1;}

}

header h1{
  padding: 2% 0 2% 0;
  margin: 0;
  font-size: 30pt;
}

header li{
  list-style: none;
  display: inline;
  padding: 0 20px 0 20px;
  float: left;
}

header .title{
  float: left;
  padding: 0;

}

section{
  min-height: 200px;
  opacity: 0;
}

nav{
  float: right;
  margin-top: 25px;
  z-index: 10;
}

.container{
  width: 80%;
  margin: auto;
  padding-top: 20px;
}

.heading{
  color: #000000;

}


section {
  padding-top: 10px;
  border: none;
  background-color: #f0f2f3;
  border-bottom: none;
  border-color: #288edf;

}

section .container{
  border: none;
  padding: 30px 0 50px 0;
  opacity: 1;
}

section .container h2{
  text-align: center;
  font-size: 20pt;
  opacity: 1;
  color: #288edf;
}

#landing{
  height: 500px;
  background-color: #FFFFFF;
  opacity: 1;
  text-align: center;
  animation-name: fold;
  animation-delay: 5s;
  animation-duration: 1.5s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}

#animate{
  height: 100px;
  width: 100px;
  border: none;
  background-color: #288edf;
  margin-left: 45%;
  margin-top: 15%;
  animation-name: landing;
  animation-duration: 5s;
  opacity: 0;
}


@keyframes fold {
  0% {min-height: auto;}
  100% {min-height: 0px;
        height: 0px;}
}

@keyframes landing {
    0% {transform: rotate(0deg); opacity: 1;}
    50% {transform: rotate(720deg); opacity: 1;}
    70% {transform: scaleX(6); opacity: 1; background-image: none;}
    90% {transform: scaleX(6); opacity: 1; background-image: none;}
    100% {transform: scaleX(6); opacity: 0;}
}

#buffer{
  min-height: 60px;

}

#profile{
  background-color: #deeff8;
  background-position: #f0f2f3;
  background-position: top;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 0;
  opacity: 1;
}

#edu{
  background-color: #f0f2f3;
}


#skills{
  z-index: 0;
  background-color: #deeff8;
}

#contact{
  background-color: #f0f2f3;
}

#skills .container{
  text-align: center;


}

.chart-contain{
  border: none;
  width: 45%;
  display: inline-table;
  height: 100px;
  padding: 0 10px 30px 10px;
}

section .heading{
  text-align: left;
}

#contact .container{
  text-align: center;

}

.schools{
  text-align: center;
}

.school{
  text-align: center;
  display: inline-table;
  padding-right: 10%;
  padding-left: 10%;
  padding-bottom: 20px;
}

.school-img{
  height: 80px;
  padding-right: 20px;
}

.contacts{
  padding-left: 15%;
}

.contact-method{
  border: none;
  width: 10px;
  display: inline-table;
  padding-right: 7%;
  padding-bottom: 2%;
  height: 150px;
}

.contact-image{
  height: 65px;
  padding-bottom: 10px;
  transition: all .2s ease-in-out;
}

.contact-image:hover{
  transform: scale(1.1);
}




footer .container{
  text-align: center;
  width: 100%;
  padding: 0 20px 0 20px;
}



footer p{
  padding: 20px 0 20px 0;
  font-size: 10px;
}

@media (max-width: 1003px){
  header .title,
  header nav,
  header nav li,
  section .heading{
    float: none;
    text-align: center;
    width: 100%;
  }

  header{
    padding-bottom: 10px;
  }

  body{
    font-size: 20pt;
  }

  section h2{
    font-size: 40pt;
  }

  section{
    width: 115%;
  }


  .contact-method{
    display: block;
    border: none;
    width: 100%;
    padding: 0;
  }

  .contacts{
    padding: 0;
  }

  #profile{
    padding-top: 30%;
  }

  #skills{
    background-image: url("prof-skills.png");
  }

  .back{
    min-height: 400px;
    background-attachment: fixed;
    background-position: top;
    background-size: contain;
    background-repeat: no-repeat;
    border-bottom: solid;
    border-bottom-color: #288edf;

  }
}
