html{
  box-sizing: border-box;
}

body{
  background-color: #FFFFFF;
  font-family: 'Roboto';
  color: #000000;
  overflow-x: hidden;
  overflow-y: auto;
  margin: 0 !important;
  padding: 0 !important;


}

.side-nav{
  position: fixed;
  padding-left: 90%;
  padding-top: 25%;
  text-align: right;
}

.side-nav ul{
  list-style: square;
}

.side-nav ul li{
  border: solid;
  padding-bottom: 10px;
}

.side-nav ul li:hover{
  transition: all .2s ease-in-out;
  transform: scale(1.1);

}

.menu-slide{
  padding: none;
  margin-right: 12px;
  border: solid;
  display: none;
}

.side-nav ul li:hover + .menu-slide{
  display: block;
}

.back{
  min-height: 350px;
  background-attachment: scroll;
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  border-bottom: solid;
  border-bottom-color: #288edf;
  padding-top: 40px;
}


a{
  text-decoration: none;
  color: #000000;
}



li a:before{
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #288edf;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

li a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}


ul{
  margin: 0;
  padding: 0;
}

.red{
  color: #288edf;
}

header{
  border-bottom: none;
  border-color: #288edf;
  margin-top: -10px;
  min-height: 70px;
  width: 100%;
  position: fixed;
  background-color: #FFFFFF;
  box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 5px 0 rgba(0, 0, 0, 0.19);
  z-index: 10;

}

header h1{
  padding: 2% 0 2% 0;
  margin: 0;
  font-size: 30pt;
}

header li{
  list-style: none;
  display: inline;
  padding: 0 20px 0 20px;
  float: left;
}

header .title{
  float: left;
  padding: 0;

}

section{
  min-height: 200px;

}

nav{
  float: right;
  margin-top: 25px;
}

.container{
  width: 80%;
  margin: auto;
  padding-top: 20px;

}

.heading{
  color: #000000;

}


section {
  padding-top: 10px;
  border: none;
  background-color: #f0f2f3;
  border-bottom: none;
  border-color: #288edf;

}

section .container{
  border: none;
  padding: 30px 0 50px 0;
  opacity: 1;
}

section .container h2{
  text-align: center;
  font-size: 20pt;
  opacity: 1;
  color: #288edf;
}

#greeting{
  height: 500px;
}

#greeting .entry-banner{
  text-align: center;
  padding-top: 12%;
}

#greeting .entry-banner h1{
  font-size: 34pt;
}

#profile{
  padding-top: 100px;
  background-color: #deeff8;
  background-position: #f0f2f3;
  background-position: top;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 0;
}

#edu{
  background-color: #f0f2f3;
}


#skills{
  z-index: 0;
  background-color: #deeff8;
}

#contact{
  background-color: #f0f2f3;
}

#skills .container{
  text-align: center;


}

.chart-contain{
  border: none;
  width: 45%;
  display: inline-table;
  height: 100px;
  padding: 0 10px 30px 10px;
}

section .heading{
  text-align: left;
}

#contact .container{
  text-align: center;

}

.schools{
  text-align: center;
}

.school{
  text-align: center;
  display: inline-table;
  padding-right: 10%;
  padding-left: 10%;
  padding-bottom: 20px;
}

.school-img{
  height: 80px;
  padding-right: 20px;
}

.contacts{
  padding-left: 15%;
}

.contact-method{
  border: none;
  width: 10px;
  display: inline-table;
  padding-right: 7%;
  padding-bottom: 2%;
  height: 150px;
}

.contact-image{
  height: 65px;
  padding-bottom: 10px;
  transition: all .2s ease-in-out;
}

.contact-image:hover{
  transform: scale(1.1);
}


footer .container{
  text-align: center;
  width: 100%;
  padding: 0 20px 0 20px;
}



footer p{
  padding: 20px 0 20px 0;
  font-size: 10px;
}

@media (max-width: 1003px){
  header .title,
  header nav,
  header nav li,
  section .heading{
    float: none;
    text-align: center;
    width: 100%;
  }

  header{
    padding-bottom: 10px;
  }

  body{
    font-size: 20pt;
  }

  section h2{
    font-size: 40pt;
  }

  section{
    width: 115%;
  }


  .contact-method{
    display: block;
    border: none;
    width: 100%;
    padding: 0;
  }

  .contacts{
    padding: 0;
  }

  #profile{
    padding-top: 30%;
  }

  #skills{
    background-image: url("prof-skills.png");
  }

  .back{
    min-height: 400px;
    background-attachment: fixed;
    background-position: top;
    background-size: contain;
    background-repeat: no-repeat;
    border-bottom: solid;
    border-bottom-color: #288edf;

  }
}
